/* CSS FOR MAIN HOMEPAGE */
#home {
  padding: 0px;
  background: linear-gradient(
    to left right,
    rgb(189, 231, 255),
    rgb(255, 255, 255)
  );
}
#mainMenu {
  transition: margin-left 0.5;
}
#homeHeader {
  text-align: center;
  border-bottom: rgba(128, 128, 128, 0.541);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  background: linear-gradient(
    to left right,
    rgb(189, 231, 255),
    rgb(255, 255, 255)
  );
}

#welcomeMessage {
  border-bottom: rgba(128, 128, 128, 0.541);
  border-bottom-width: 5px;
  border-bottom-style: solid;
  border-width: 1px;
  margin-left: 5px;
  padding: 0px;
}
#profileAndHoldings {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 20px;
  padding: 2px;
}
#homeProfile {
  border-radius: 2px;
  background-color: white;
  float: left;
  position: sticky;
  margin-bottom: 50px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 0 10px 0 -5px #eee;
  margin-left: 5px;
}

#myHoldings {
  border-radius: 2px;
  background-color: white;
  float: left;
  position: sticky;
  margin-bottom: 200px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 0 10px 0 -5px #eee;
}
#profilePic {
  position: relative;
  float: bottom;
  width: 60px;
  border: 1px solid #ddd;
  border-radius: 10%;
  padding: 5px;
}

.container {
  width: 100%;
  background-color: #ddd;
}

.stackGraph {
  display: flex;
  flex-wrap: nowrap;
  background-color: DodgerBlue;
}
.stackGraph > div {
  background-color: #f1f1f1;
  text-align: center;
  line-height: 75px;
  font-size: 10px;
}
/* CSS FOR SIDEBAR */
#sidebarButton {
  margin-left: 5px;
}
#mySideBar {
  border-right: solid 1px rgb(0, 0, 0);
  height: 100%;
  width: 0px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-image: linear-gradient(
    to bottom right,
    rgb(0, 162, 255),
    rgb(255, 255, 255)
  );
  overflow-x: hidden;
  transition: 0.5;
  padding-top: 60px;
}

.sidebarList {
  font-size: 20px;
  color: white;
}
#sidebarButtons {
  color: white;
}
#logOutButton {
  position: relative;
  top: 400px;
  left: 60px;
  text-decoration: none;
}

li {
  list-style: none;
}

.sideButton {
  text-decoration: none;
  color: white;
}
.activeSideButtons {
  color: white;
  text-decoration: underline;
}
.sideButton:hover {
  color: black;
}
#sidebarButtons li {
  display: block;
  background-color: inherit;
  color: rgb(82, 37, 37);
  padding: 25px 2px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.1s;
  font-size: 20px;
}
a.sideButton,
a.links {
  text-decoration: none;
  color: white;
  font-weight: normal;
}
#logoutButton {
  margin-top: 5px;
  width: 100px;
  height: 30px;
  font-weight: bold;
  color: #fff;
  background-color: #acd6ef;
  border-radius: 50px;
  border: 1px solid #66add6;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3),
    inset 0 1px 0 rgba(255, 255, 255, 0.5);
  cursor: pointer;
  border: hidden;
}
#profile {
  border-radius: 50%;
}
