.portfolioFrames {
    position: relative;
    border-radius: 2px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: rgb(153, 223, 188);
    margin-right: 20px;
    margin-bottom: 20px;
}