.settingsFrame {
  position: relative;
  border-radius: 2px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  background-color: rgb(124, 207, 255);
  margin-right: 20px;
  margin-bottom: 20px;
  padding-left: 10px;
}
#topBarSettings {
  overflow: hidden;
  background-color: rgb(124, 207, 255);
  font-size: large;
  padding-left: 0px;
  margin-left: -10px;
}
.topBarLinks {
  color: rgb(255, 255, 255);
  text-decoration: none;
  float: left;
  text-align: center;
  padding: 15px 12px;
  font-size: large;
}
.topBarLinks:hover {
  background-color: rgb(255, 255, 255);
  color: black;
}
.activeTopBarLinks {
  font-weight: bold;
  text-decoration: underline;
}
#settingsHeader {
  text-align: center;
}
