#home {
    background-color: rgb(207, 206, 146);
  }
  
  #välkomstMeddelande {
    background-color: rgb(233, 215, 136);
  }
  #profilOchInnehav {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
    padding: 2px;
  }
  #homeProfile {
   border-radius: 2px;
    background-color: white;
    float: left;
    position: sticky;
    margin-bottom: 50px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 0 10px 0 -5px #eee;
  }
  
  #mittInnehav {
  border-radius: 2px;
    background-color: white;
    float: left;
    position: sticky;
    margin-bottom: 200px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 0 10px 0 -5px #eee;
  }
  #profilePic {
    position: relative;
    float: bottom;
    width: 60px;
    border: 1px solid #ddd;
    border-radius: 10%;
    padding: 5px;
  }
  .hemprofilHeader {
    float: left;
    padding: 5px;
  }
 
  .container {
    width: 100%;
    background-color: #ddd;
  }
  
  .shares {
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
  }
  .first {width: 90%; background-color: #4CAF50;}
.second {width: 80%; background-color: #2196F3;}
.third {width: 65%; background-color: #f44336;}
.fourth {width: 60%; background-color: #808080;}

#industryColours {
  background-color: #f44336;
}