.componentComp {
  color: rgb(29, 117, 110);
}
body {
  background-color: rgba(255, 255, 255, 0.651);
  max-width: 100%;
  max-height: 100%;
  overflow-y: auto;
  overflow-x: auto;
  display: inline;
}
input {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  outline: none;
}
input[type="text"],
input[type="password"] {
  color: #777;
  padding-left: 10px;
  margin: 10px;
  margin-top: 12px;
  margin-left: 18px;
  width: 290px;
  height: 35px;
}
input[type="submit"],
#sidebarButton, #downloadButton, #logoutButton, #linkTo, #savePasswordChange{
  margin-top: 5px;
  width: 100px;
  height: 30px;
  font-weight: bold;
  color: #fff;
  background-color: #acd6ef;
  border-radius: 50px;
  border: 1px solid #66add6;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3),
    inset 0 1px 0 rgba(255, 255, 255, 0.5);
  cursor: pointer;
  border: hidden;
}

#Header {
  position: relative;
  color: rgb(0, 0, 0);
  height: 40px;
  padding-bottom: 5px;
  font-weight: bolder;
  font-size: larger;
  font-style: italic;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
}

#missingPageButton {
  background-color: wheat;
}