#mySideBar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(52, 96, 153);
  overflow-x: hidden;
  transition: 0.5;
  padding-top: 60px;
}
.sidebarList {
  font-size: 20px;
  color: white;
}
.componentComp {
  color: rgb(29, 117, 110);
}
body {
  background-color: rgba(238, 232, 232, 0.651);
  max-width: 100%;
  max-height: 100%;
  overflow-y: hidden;
  overflow-x: auto;
  display: inline;
}
.portfolioFrames {
    border-radius: 2px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 20px;
    background-color: rgb(178, 199, 187);
    padding-bottom: 70%;
    margin: 20px 20px 20px;
}
#logOutButton {
  position: relative;
  top: 400px;
  left: 60px;
}